:root {
  --font-plain: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  --colour-dark: #050505;
  --colour-darkish: #404040;
  --colour-lightish: #e6e6e6;
  --colour-light: #fafafa;
  --colour-mid: grey;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html body {
  min-height: 100vh;
}

main {
  margin: 0 auto;
  width: 90%;
  padding: 1rem;
}
/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: var(--font-plain);
}
.back-button {
  margin: 1rem;
  width: 120px;
  height: 40px;
  padding: 0.6rem 1rem;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}
.light-mode .back-button {
  border: 3px solid var(--colour-dark);
}
.dark-mode .back-button {
  color: var(--colour-dark);
  border: none;
  background-color: var(--colour-light);
}
.pagination-buttons__container {
  display: flex;
  justify-content: space-evenly;
  margin: 5rem 0rem;
}
.pagination-button {
  margin: 1rem;
  width: 150px;
  height: 50px;
  padding: 0.6rem 1rem;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}
.light-mode .pagination-button {
  border: 3px solid var(--colour-dark);
}
.dark-mode .pagination-button {
  background-color: var(--colour-light);
  border: none;
}

button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
button:disabled {
  cursor: initial;
}
.option-button {
  margin: 1rem;
  width: 150px;
  height: 50px;
  padding: 0.6rem 1rem;
  font-weight: bolder;
  font-size: 1rem;
  cursor: pointer;
}
.light-mode .option-button {
  box-shadow: -2px 2px var(--colour-darkish);
  border: 3px solid var(--colour-darkish);
}

.dark-mode .option-button {
  border: none;
  background-color: var(--colour-light);
}

.App {
  min-height: 100vh;
}
.dark-mode {
  background-color: var(--colour-dark);
  transition: background 0.25s ease-out;
}
.light-mode {
  background-color: var(--colour-light);
  transition: background 0.25s ease-out;
}
.dark-mode html {
  background: var(--colour-dark);
  transition: background 0.25s ease-out;
}
.light-mode html {
  background: var(--colour-light);
  transition: background 0.25s ease-out;
}
.light-mode h1,
.light-mode h2,
.light-mode h3,
.light-mode h4,
.light-mode h5,
.light-mode h6 {
  color: var(--colour-dark);
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode h4,
.dark-mode h5,
.dark-mode h6 {
  color: var(--colour-lightish);
}

.light-mode li,
.light-mode p,
.light-mode input,
.light-mode time,
.light-mode span,
.light-mode a {
  color: var(--colour-dark);
}
.dark-mode li,
.dark-mode p,
.dark-mode time,
.dark-mode span,
.dark-mode a {
  color: var(--colour-lightish);
}

input::placeholder {
  color: var(--colour-dark);
}
/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: -0.5px;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}
a[class] {
  text-decoration: none;
}
/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Natural flow and rhythm in articles by default */
article > * + * {
  margin-top: 1em;
}

/* Inherit fonts for inputs and buttons */
input,
textarea,
select {
  font: inherit;
}

.genre-link {
  text-decoration: none;
  font-weight: 600;
}
.genre-link:hover {
  text-decoration: underline;
}
.option-title {
  text-align: center;
  font-size: 3.2rem;
}
.option-buttons-wrapper {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@media (min-width: 640px) {
  body {
    font-size: 17px;
  }
  .option-title {
    text-align: end;
    font-size: 4.7rem;
  }
}
@media (min-width: 768px) {
  body {
    font-size: 19px;
  }
  .option-title {
    text-align: end;
    font-size: 5rem;
  }
}
@media (min-width: 1024px) {
  body {
    font-size: 21px;
  }
  .option-title {
    text-align: end;
    font-size: 7.7rem;
  }
}
@media (min-width: 1280px) {
  body {
    font-size: 22px;
  }
  .option-title {
    text-align: end;
    font-size: 9rem;
  }
}
@media (max-width: 768px) {
  .option-buttons-wrapper {
    justify-content: center;
  }
}
